GOOGLE_SERVICE_ACCOUNT_EMAIL=conta-de-servico@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
MASTER_SPREADSHEET_ID=1zqB7BXaihnwe5ZV8GMSCStmh8N-gsff9tdDSJ7OzFGk
SPREADSHEET_ID=1s8MiGAt1v--AZBQd1vWxd17D7kHW9DQjWontwU64CPI
